body{
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0em;
}

.box1 {
    background-color: blueviolet;
    padding: 2em;
    border: 3px solid #3a0ca3;
    margin: 1em;
    border-radius: 1em;
}

.box2 {
    background-color: #3a0ca3;
    padding: 2em;
    border: 3px solid #4361ee;
    margin: 1em;
    border-radius: 1em;
}

.box3 {
    background-color: #4361ee;
    padding: 2em;
    border: 3px solid blueviolet;
    margin: 1em;
    border-radius: 1em;
    flex: 40%;

}

.footer {
    background-color: #4cc9f0;
    padding: 2em;
    margin: 1em;
    border-radius: 0.5em;
}

@media (min-width : 960px) {
    .sizes{
        display: flex;
    }
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    padding: 1em;
    padding-bottom: 0em;
    color: white;
}

img {
    width: 10em;
    float: right;
}

.sizeHeading {
    float: left;
    padding: 0.5em;
    margin: 0.5em;

}

.footer {
    display: flex;
}

.contacts {
    float: left;
    padding: 1em;
    margin: 1em;
    flex: 50%;
}

.address {
    float: right;
    padding: 1em;
    margin: 1em;
}

.cart {
    background-image: url(images/piz.jpg);
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;

}

.addPizzaBtn {
    font-weight: bolder;
    font-size: x-large;
    border: solid;
    border-radius: 1em;
    width: 1.5em;
    border: groove white;
    color: white;
    background-color:green;
    font-weight: bold;
}

.subPizzaBtn {
    font-weight: bolder;
    font-size: x-large;
    border: solid;
    border-radius: 1em;
    width: 1.5em;
    color: white;
    background-color:red;
    font-weight: bold;
}

span {
    padding: 1em;
    margin: 1em;
}

.orderBtn {
    border: groove white;
    height: 40px;
    width: 170px;
    color: white;
    background-color:green;
}

.checkOutBtn {
    border: groove white;
    height: 30px;
    width: 100px;
    color: white;
    background-color:#0066ff;
    margin: 0.5em;
}

.orderPizza {
    padding-top: 1em;
    text-align: center;
}

.totalCost {
    padding-left: 4.2em;
}

table {
    border: solid white;
    border-collapse: collapse;
}

td, th, tr {
    border: solid white;
    border-collapse: collapse;
}

.Cart {
    margin: 1em;
    border: solid #0066ff;
}

.APICart {
    padding: 2em;
    margin: 2em;
    background-image: url('./images/cover.jpg');
}

table {
    background-color: #4361ee;
}

hr {
    margin: 5em;
}

.pizzaCart {
    margin-top: 5em;
}

tr:nth-child(even) {
    background-color: blueviolet;
}

[x-cloak] { display: none !important; }

.login {
    border: solid #0066ff;
    padding-left: 2em;
    padding-bottom: 2em;
    margin-left: 1em;
    background-color: white;
}

.header {
    background-image: url('./images/NEON.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 3em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.receipt {
    text-align: center;
}

